.create_product{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.upload{
    max-width: 400px;
    height: 500px;
    width: 100%;
    border: 2px solid #248eff;
    padding: 10px;
    margin: 20px;
    margin-left: -15cm;
    position: relative;
    
}

#file_up{
    position: relative;
    width: 100%;
    height: 100%;
    outline: none;
    border: 2px solid #248eff;
}
#file_up::before{
    content: "+";
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background: white;
    color: #248eff;
    font-size: 17rem;
    text-align: center;
    cursor: pointer;
    margin: auto;
}
#file_img{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    background: white;
}
#file_img img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
#file_img span{
    position: absolute;
    top: -13px;
    right: -13px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 6px 10px;
    cursor: pointer;
    font-weight: 900;
    color: crimson;
}

.create_product form{
    max-width: 500px;
    min-width: 290px;
    width: 100%;
    margin: 15px 30px;
}
.create_product form .row{
    width: 100%;
    margin: 15px 0;
 
}
.create_product form input, textarea{
    width: 100%;
    min-height: 40px;
    padding: 5px;
    border-radius: 5px;
}
.create_product form button{
    width: 200px;
    height: 40px;
    color: #05437e;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    display: inline-block;
    margin: 4px 24px;
    border-radius: 5px;
    border: 3px solid #05437e;
}
.create_product form button:hover{
    background: #05437e;
    color: white;
    border: 1px solid #a1a7ac;
    transition: 0.7s;
}

select {
    width: 100%;
    min-height: 40px;
    padding: 0px 5px;
    border: none;
    border-radius: 5px;
    background-color: white;
  }

  input[type=text]:focus {   
    border: 4px solid rgba(76, 186, 250, 0.527);
    transition: 0.3s;
  }

  input[type=number]:focus {   
    border: 4px solid rgba(76, 186, 250, 0.527);
  }

  textarea[type=text]:focus {   
    border: 4px solid rgba(76, 186, 250, 0.527);
  }

  select:focus {   
    border: 4px solid rgba(76, 186, 250, 0.527);
  }

input[type=text], textarea[type=text], input[type=number], select{
      border: 2px solid #ccc
  }

  textarea{
      padding: 9px 9px 9px 9px;
  }
  #title{
      margin-top: -22cm;
  }
  